<%= form_with(model: student) do |form| %>

  <% if student.errors.any? %>
  
    <div class="alert alert-danger">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  
  <% end %>
  
  <div class="form-group">
    <%= form.label :profile_picture, 'Profile Picture', aria: {label: 'Profile Picture'} %>
    <%= form.file_field :profile_picture, class: "form-control-file", aria: {label: 'Enter Profile Picture'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :first_name, 'First Name', class: "d-block", aria: {label: 'First Name'} %>
    <%= form.text_field :first_name, class: "form-control", aria: {label: 'Enter First Name'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :last_name, 'Last Name', class: "d-block", aria: {label: 'Last Name'} %>
    <%= form.text_field :last_name, class: "form-control", aria: {label: 'Enter Last Name'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :school_email, 'Email', class: "d-block", aria: {label: 'Email'} %>
    <%= form.text_field :school_email, class: "form-control", aria: {label: 'Enter Email'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :major, 'Major', class: "d-block", aria: {label: 'Select Majors'} %>
    <%= form.select :major, options_for_select(Student::VALID_MAJORS), {prompt: "Select a Major"}, class: "form-control", aria: {labelledby: 'Major'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :minor, 'Minor', class: "d-block", aria: {label: 'Minor'} %>
    <%= form.text_field :minor, class: "form-control", aria: {label: 'Enter Minor'} %>
  </div>
  
  <div class="form-group">
    <%= form.label :graduation_date, 'Graduation Date', class: "d-block", aria: {label: 'Enter Graduation Date'} %>
    <%= form.date_field :graduation_date, class: "form-control", aria: {labelledby: 'Graduation Date'} %>
  </div>
  
  <div class="form-group">
    <%= form.submit 'Submit', class: "btn btn-info", aria: {label: 'Submit form'} %>
  </div>

<% end %>
