<% if notice.present? %>  

  <div class="alert alert-success">
    <%= notice %>  
  </div>

<% end %>

<h1>Students</h1>

<%= render 'search_form', search_params: @search_params %>

<div id="students" class="container">

  <% if @students.present? %>

    <% @students.each do |student| %>

      <div class="card mb-4">
        <div class="card-body">
          <%= render student %>
          <a href="<%= student_path(student) %>" class="btn btn-success">Show this student</a>
        </div>
      </div>

    <% end %>

  <% end %>

  <a href="<%= new_student_path %>" class="btn btn-warning">New student</a>
</div>
