<% if notice.present? %>

  <div class="alert alert-success" aria-live="polite">
    <%= notice %>
  </div>

<% end %>

<div class="card mb-4">
  <div class="card-body">
    <%= render @student %>
  </div>
</div>

<div class="d-flex justify-content-between">
  <%= link_to "Edit this student", edit_student_path(@student), class: "btn btn-primary", aria: {label: 'Edit this student'} %>
  <%= link_to "Back to search", students_path, class: "btn btn-secondary", aria: {label: "Back to search"} %>
  <%= button_to "Destroy this student", @student, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this student?" }, aria: {label: "Destroy this student"} %>
</div>
